<main>
    <div class="container">
        <div class="content">
          <div class="details-content">
            <!-- HEADER - TITLE -->
            <div class="detailsheader">
                <h1> Edit Schedule</h1>
            </div>
                <!-- BODY - DETAILS -->
                <div class="detailsbody">
                  <div class="details">
                      <form>
                            
                              
                            <div class="txt_field">
                                <input class="inputtxt" type="text" required>
                                <span></span>
                                <label class="labelline" for="college"> Schedule ID </label>
                            </div>
                           
                              
                              <div class="txt_field">
                                <input class="inputtxt" type="text" required>
                                <span></span>
                                <label class="labelline" for="college"> Schedule Name </label>
                            </div>
                            <div class="txt_field1">
                                <input class="inputtxt1" type="time" required>
                                <span></span>
                                <label class="labelline1" for="college"> Start Time </label>
                            </div>
                            <div class="txt_field1">
                                <input class="inputtxt1" type="time" required>
                                <span></span>
                                <label class="labelline1" for="college"> End Time </label>
                            </div>
                              
                            
            </form>
                          </div>
                        </div> 
                        <div class="button-container">
                          <button  (click)="closepopup()" class="cancel-btn">Cancel</button>
                          <button class="update-btn" (click)="addBox()"> Save </button>
                            
                            
                           
                            </div>
                          
                          </div>
                      </div>
                    </div>
                 
  </main>