<!-- ICONS SOURCE -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">




<div class="content">
    <!-- HEADER -->
    <div class="header">
        <br>
        <h1>Administrator </h1>
        
    </div>
     <!-- BODY CONTENT -->
    
    

    <nav class="sidebar-content">
        <!-- LOGO AND SUBSYSTEM TITLE -->
        <div class="logo-title">
            <div class="logo">
                <img src="assets/images/techkineme.png" class="logo-header">
            </div>
        </div>

        <!-- SIDEBAR TABS -->
        <div class="sidebar-tabs">
            <ul class="admin-tabs">

               <p class="labelline">MAIN</p>
                <li class="admin-tab">
                    <a class="tab-link" routerLink="dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                    <span class="tab-link-icon"><i class="fa-solid fa-user-gear"></i></span>
                    <span class="tab-link-name"> Dashboard </span>
                    </a>
                </li>

                <li class="admin-tab">
                    <a class="tab-link" routerLink="employee" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                    <span class="tab-link-icon">  <i class="fa-solid fa-arrows-spin"></i> </span>
                    <span class="tab-link-name"> Employee </span>
                    </a>
                </li>

                <p class="labelline">MANAGEMENT</p>

                <li class="admin-tab">
                    <a class="tab-link" routerLink="schedule" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                        <span class="material-symbols-outlined">
                            lists
                            </span>
                    <span class="tab-link-name"> Schedule </span>
                    </a>
                </li>

                <li class="admin-tab">
                    <a class="tab-link" routerLink="attendance" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                    <span class="tab-link-icon"> <i class="fa-solid fa-bullhorn"></i> </span>
                    <span class="tab-link-name"> Attendance</span>
                    </a>
                </li>

        
            </ul>

            <!-- LOGOUT BUTTON -->
            <div class="logoutbtn">
                <div class="logout" (click)="togglePopup()" >
                    <span> <i class='fa-solid fa-right-from-bracket' ></i> 
                        <app-logout *ngIf="showPopup" (closedPopup)="closePopup()" (leaveClicked)="redirectToLoginPage()"></app-logout>
                    </span>
    
        
                </div>
                </div>
        </div>
    </nav>
   

</div>

<div class="body-content">
    <div class="admin-container"> <router-outlet></router-outlet> </div>
</div>
