:root {
    font-size: 100%;
    --primary-color: #FFFFFF;
    --secondary-color: #EEEEEE;
    --main-green: #31A463;
    --border-color: #DFE0E0;
    --black: #000000;
}

body {
    transition: all 0.5s ease;
    font-family: "Poppins";
}

/* HEADER */
.header {
    background-color: #666666;
    height: 80px;
    width: 1362px;
    
    color: #A4A4A4;
    font-size: 14px;
    text-indent: 30px;
    margin-top: 0;
    
    
}

.header h1 {
    font-size: 25px;
    font-weight: 900;
    float: right;
    margin: 10px;
}



/* SIDEBAR CONTENTS */


.logo-title {
    padding-bottom: 14%;
    border-bottom: 1px solid var(--border-color);
}
.logo img{
    color: #CBC5C5;
    height: 60px;
    margin-right: 10px;

}


.sidebar-content {
    position: relative;
    background-color: #313131;
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 0 30px 20px;
    z-index: 100;
    border-right: 2px solid var(--border-color);
    transition: all 0.3s ease;
    color: #8C8C8C;
}

.sidebar-content::-webkit-scrollbar {
    display: none;
}

.sidebar-content a {
    color: var(--black);
}

.sidebar-content-tabs {
    position: relative;
}

.admin-tabs {
    padding: 0;
    list-style: none;
    margin-right: 0;
}


.admin-tab a {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    margin-bottom: 3px;
    margin-top: 5px;
    border-bottom: 1px solid var(--border-color);
}

.admin-tab a:hover {
    font-weight: bolder;
    color: #FFFFFF;
    background-color: #222222 ;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transform: translate(1rem, 0);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 8px 8px rgba(0,0,0,0.5);
    width:132px;
}

// @keyframes scaleUp {
//     0% {
//       transform: scale(1);
//     }
  
//     50% {
//       transform: scale(0.95);
//     }
  
//     100% {
//       transform: scale(1);
//     }
//   }

.admin-tab a.active-link {
    font-weight: bolder;
    color: #FFFFFF;
    background-color: #222222 ;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 8px 8px rgba(0,0,0,0.5);
}

.tab-link .tab-link-name {
    padding-left: 10px;
    padding-top: 2px;
}

.admin-tabs .tab-link-icon {
    font-size: 20px;
}
.admin-tabs .labelline {
    font-size: 13px;
    color: #A4A4A4;
}

ul ul {
    list-style: none;
}


.logoutbtn .logout {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
}

.logoutbtn .logout:hover {
    color: var(--main-green);
}

.logoutbtn {
    position: fixed;
    bottom: 25px;
    left: 0;
    width: 220px;
    cursor: pointer;
    transition: all 0.5s ease;
}

@media only screen and (max-width: 768px) {
    .sidebar-content {
        width: 70px;
    }
    .sidebar-content:hover {
        width: 220px;
        z-index: 200;
    }
    .sidebar-content:hover li a span:last-child {
        display: inline;
    }

    .logo-title {
        display: none;
    }

    .tab-link-name {
        display: none;
    }

    .logoutbtn {
        bottom: 20px;
        width: 50px;
    }
    
}

@media screen and (min-width: 768px) {
    .body-content {
        padding-left: 20px;

    }
}

.body-content {
    padding-left: 200px;
}