<main>
    <div class="container">
        <div class="content">
          <div class="details-content">
            <!-- HEADER - TITLE -->
            <div class="detailsheader">
                <h1> Add Employee</h1>
            </div>
                <!-- BODY - DETAILS -->
                <div class="detailsbody">
                  <div class="details">
                      <form>
                            
                              
                            <div class="txt_field">
                                <input class="inputtxt" type="text" required>
                                <span></span>
                                <label class="labelline" for="college"> Name </label>
                            </div>
                            <div class="txt_field1">
                               
                              
                                <select class="inputtxt1" id="language" name="language" required>
                                  <option value="English"> Team Leader</option>
                                  <option value="Tagalog"> Assistant Leader</option>
                                  <option value="Tagalog"> Member</option>
                              </select>
                              <span></span>
                              <div class="labelline1">Position</div>
                               </div>
                            
  
                            
                              <div class="txt_field">
                                <input class="inputtxt" type="email" required>
                                <span></span>
                                <div class="labelline">Email</div>
                              </div>
  
                              <!-- <div class="txt_field1">
                                <div class="labelline1">Edit Image</div>
                                <span></span>
                                <input type="file" accept=".jpeg, .png, .jpg" name="image_location"> 
                                
                                
                                
                              </div> -->
                              <div class="txt_field1">
                                
                                <select class="inputtxt1" id="language" name="language" required>
                                  <option value="English">Maintenance</option>
                                  <option value="Tagalog"> Security </option>
                                  <option value="Tagalog"> Inventory </option>
                              </select>
                              <span></span>
                              <div class="labelline1">Department</div>
                              </div>
                              
                              <div class="txt_field">
                                <input class="inputtxt" type="text" required>
                                <span></span>
                                <label class="labelline" for="college"> Permission </label>
                            </div>
                              
                            
                          </form>
                        </div> 
                        <div class="button-container">
                          <button  (click)="closepopup()" class="cancel-btn">Cancel</button>
                          <button class="update-btn" (click)="addBox()"> Add </button>
                            
                            
                           
                            </div>
                          
                          </div>
                      </div>
                    </div>
                  </div>
  </main>