<div class="container">
    <div class="header">
        <H1>SUMMARY REPORT</H1>
        <p style="font-style: italic;">Welcome to TechKINEME Attendance Management System</p>
    </div>

    <div class="body">
        <div class="card-container">
            <div class="card"> 
                <div class="textbox">
                <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                <h2>Eunice Protacio</h2>
                <span class="tab-link-icon"><i class="fa-solid fa-user-gear"></i></span>
                <div class="card-buttons">
                    <!-- <button class = "edit-btn"><i class="fa-solid fa-edit"> </i></button>
                    <button class = "archive-btn"><i class="fa-solid fa-archive"> </i></button> -->
                    <button class="view-button" type="button" (click)="onAddNewBtnClick()">View</button>
            </div>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card"> 
                <div class="textbox">
                <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                <h2>Angel Mae</h2>
                <span class="tab-link-icon"><i class="fa-solid fa-user-gear"></i></span>
                <div class="card-buttons">
                    <!-- <button class = "edit-btn"><i class="fa-solid fa-edit"> </i></button>
                    <button class = "archive-btn"><i class="fa-solid fa-archive"> </i></button> -->
                    <button class="view-button" type="button" (click)="onAddNewBtnClick()">View</button>
            </div>
            </div>
            </div>
        </div>



    </div>
</div>