<div class="container">
    <div class="header">
        <H1>DASHBOARD</H1>
        <p style="font-style: italic;">Welcome to TechKINEME Attendance Management System</p>
    </div>

    <div class="body">
        <div class="card-container">
            <div class="card"> 
                <div class="textbox">
                <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                <h2>Total Employee</h2>
                <span class="tab-link-icon"><i class="fa-solid fa-user"></i></span>
                <p>10</p>
            </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card" > 
                <div class="textbox">
                <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                <h2>Schedule</h2>
                <span class="tab-link-icon"><i class="fa-solid fa-user"></i></span>
                <span class="material-symbols-outlined">
                    lists
                    </span>
            </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card"> 
                <div class="textbox">
                <!-- replace nalang to si h2 tsaka si p kasi static lang -->
                <h2>Attendance</h2>
                <span class="tab-link-icon"><i class="fa-solid fa-user"></i></span>
                <span class="material-symbols-outlined"> <i class="fa-solid fa-bullhorn"></i> </span>
            </div>
            </div>
        </div>
        

        
    </div>
</div>