body{
    background-color: #313131;
}

.logo{
    margin: 50px;
    text-align: center;
}

.logo img{
    width: 700px; // Adjust width as needed
    height: auto;
}

.logo h1{
    font-size: 20px;
    letter-spacing: 2px;
    color: #FFFFFF;
}