.container{
    margin-left: 20px;
    margin-right: 10px;
}
.header{
    line-height: 5px;
    margin-top: 40px;
}
.header h1{
    font-size: 40px;
    font-weight: 800;
}
.body{
    margin-top: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-bottom: 2px solid #575757;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);

}

th, td {
    padding: 13px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #575757;
    font-weight: bold;
    height: 40px;
    color: #FFFDFD;
}


.container-addUserButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 34px;
    width: 112px;
    border: none;
    border: 2px solid #575757;
    background-color: transparent;
    border-radius: 20px;
    color: #575757;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
    

}
.container-addUserButton:hover{
    background-color: #575757;
    color: white;
}


.edit-btn {
    padding: 5px 17px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: #31A463;
    color: #fff;
    border-radius: 3px;
}

.archive-btn{

    padding: 5px 17px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: #AB0E0E;
    color: #fff;
    border-radius: 3px;
}

.edit-btn:hover {
    background-color: #298f55;
}