<div class="container">
    <div class="header">
        <h1>EMPLOYEE</h1>
        <p style="font-style: italic;">Welcome to TechKINEME Attendance Management System</p>
    </div>
    <div class="body">
        <div class="buttonheader">
            <button class="container-addUserButton" type="button" >Add User</button>
        </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Permission</th>
                    <th>Member Since</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0001</td>
                    <td>Kevin Turat</td>
                    <td>Team Leader</td>
                    <td>janeexample.com</td>
                    <td>Maintenance</td>
                    <td></td>
                    <td>2021-11-03</td>
                    <td>
                        
                        <button class="edit-btn" type="button"(click)="onEditBtnClick()"> <i class="fa-solid fa-edit"> </i></button>
                        <button class="archive-btn" type="button"(click)="onArchiveBtnClick()"> <i class="fa-solid fa-archive"> </i></button>
                    </td>
                </tr>
                <tr>
                    <td>0001</td>
                    <td>Kevin Turat</td>
                    <td>Team Leader</td>
                    <td>janeexample.com</td>
                    <td>Maintenance</td>
                    <td></td>
                    <td>2021-11-03</td>
                    <td>
                        
                        <button class="edit-btn" type="button"(click)="onEditBtnClick()"> <i class="fa-solid fa-edit"> </i></button>
                        <button class="archive-btn" type="button"(click)="onArchiveBtnClick()"> <i class="fa-solid fa-archive"> </i></button>
                    </td>
                </tr>
                <tr>
                    <td>0001</td>
                    <td>Kevin Turat</td>
                    <td>Team Leader</td>
                    <td>janeexample.com</td>
                    <td>Maintenance</td>
                    <td></td>
                    <td>2021-11-03</td>
                    <td>
                        
                        <button class="edit-btn" type="button"(click)="onEditBtnClick()"> <i class="fa-solid fa-edit"> </i></button>
                        <button class="archive-btn" type="button"(click)="onArchiveBtnClick()"> <i class="fa-solid fa-archive"> </i></button>
                    </td>
                </tr>
                <tr>
                    <td>0001</td>
                    <td>Kevin Turat</td>
                    <td>Team Leader</td>
                    <td>janeexample.com</td>
                    <td>Maintenance</td>
                    <td></td>
                    <td>2021-11-03</td>
                    <td>
                        
                        <button class="edit-btn" type="button"(click)="onEditBtnClick()"> <i class="fa-solid fa-edit"> </i></button>
                        <button class="archive-btn" type="button"(click)="onArchiveBtnClick()"> <i class="fa-solid fa-archive"> </i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>